@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/NotoSansKR-Regular.eot"); /* IE9 Compat Modes */
  src: local("Noto Sans KR Regular"), local("NotoSansKR-Regular"), url("./fonts/NotoSansKR-Regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/NotoSansKR-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/NotoSansKR-Regular.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/NotoSansKR-Regular.svg#NotoSansKR") format("svg"); /* Legacy iOS */
}

* {
  box-sizing: border-box;
  transition: background-color 1s, color 0.1s, border 0.5s, right 0.3s;
}

:root {
  --background: #ffffff;
  --text: #232323;
  --border: #b6b7b8;
}

/* 스크롤바 style */
html::-webkit-scrollbar,
body::-webkit-scrollbar,
section::-webkit-scrollbar {
  background-color: var(--background);
  width: 15px;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
section::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
section::-webkit-scrollbar-track {
  background-color: var(--background);
  border-radius: 10px;
}


html,
body,
#root,
#root > div {
  background-color: var(--background);
  height: 100%;
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Noto Sans KR";
}
body {
  overflow-x: hidden;
  margin: 0px;
}

div {
  border-color: var(--border);
}
p {
  margin: 0;
  color: var(--text);
  font-family: "Noto Sans KR";
}
a {
  -webkit-tap-highlight-color:transparent;
  text-decoration: none;
}
button {
  -webkit-tap-highlight-color:transparent;
  cursor: pointer;
  background-color: var(--background);
  padding: 0px;
  border: none;
  border-color: var(--border);
  outline: none;
  color: var(--text);
  font-family: "Noto Sans KR";
}
input {
  background-color: var(--background);
  border: 1px solid;
  outline: none;
  box-sizing: border-box;
  color: var(--text);
  font-family: "Noto Sans KR";
}
textarea {
  background-color: var(--background);
  border: 1px solid;
  outline: none;
  resize: none;
  box-sizing: border-box;
  color: var(--text);
  font-family: "Noto Sans KR";
}
svg {
  color: var(--text);
}
